@import "colors";

.button {
  border: none;
  padding: 0.7rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  color: $primary-text-color;
  font-family: 'Raleway', sans-serif;

  &.primary {
    background-color: $primary-color;

    &:hover {
      background-color: lighten($primary-color, 6%);
    }
  }

  &.secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: lighten($secondary-color, 6%);
    }
  }
}
