@import 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $primary-text-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background: url('./assets/background.png') no-repeat, $bg-color;
}

.card {
  border-radius: 10px !important;
  background-color: #494d5d38 !important;
}